/*Custom CSS*/

header li:hover {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: #44AF93;
}

.hover-button {
    transition: color 0.2s ease;
}

.hover-button:hover {
    color: #fff;
}

.info-cards {
    gap: 5rem;
    max-width: 90%;
}

.info-cards span {
    margin: 0.5rem 0 0.5rem;
}

