/*Custom CSS*/

header li:hover {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: #44AF93;
}

.info-cards {
    gap: 4rem;
}

.info-cards span {
    margin: 0.5rem 0 0.5rem;
}

